.footer {
  width: 100vw;
  height: 40px;
  background-color: #f9fafb;
}
.footerContainer {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.navGroup {
  display: flex;
  padding: 0 40px;
  gap: 24px;
}

.footerFloatRight {
  margin-top: 12px;
  display: flex;
}

.footerFloatLeft {
  margin-top: 12px;
  display: flex;
}

.footerLink {
  color: #808080;
  font-size: 14px;
  line-height: 20px;
}
.footerLink:hover {
  color: #333333;
}

@media only screen and (max-width: 598px) {
  .footer {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .footerContainer {
    display: flex;
    flex-direction: row;
  }
}
