.footer {
  width: 100vw;
  height: 76px;
  background-color: #f9fafb;
}
.footerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerFloatRight {
  margin-top: 12px;
  display: flex;
}

.footerFloatLeft {
  margin-top: 12px;
  display: flex;
}

.footerLink {
  margin: 0px 24px 0px 0px;
  color: #808080;
  font-size: 14px;
  line-height: 20px;
}
.footerLink:hover {
  color: #333333;
}

@media only screen and (max-width: 598px) {
  .footer {
    display: none;
  }
}
/* @media only screen and (min-width: 598px) {
  .footerContainer {
    display: flex; */
/* flex-direction: column; */
/* text-align: center;
    background-color: rgb(245, 231, 231);
  }
  .footerFloatRight {
    background-color: orange;
    display: inline;
    flex-direction: row;
  }
  .footerFloatLeft {
    background-color: limegreen;
    display: flex;
    flex-direction: row;
  }
  .footerLink {
    margin: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    height: 40px;
    padding: 10px 16px 10px 40px;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footerFloatRight {
    margin-top: 0;
  }
  .footerFloatLeft {
    margin-top: 0;
  }
} */
