@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: iranyekanwebbold;
  src: url(../public/fonts/iranyekanwebbold.woff);
  font-weight: 700;
}
@font-face {
  font-family: iranyekanwebregular;
  src: url(../public/fonts/iranyekanwebregular.woff);
  font-weight: 400;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: iranyekanwebregular;
  /* font-family: iranyekanwebbold; */

  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
