.container {
  width: 100wh;
  min-height: 100vh;
  background-color: #f2f3f5;
}
.homepage {
  top: 12vh;
  height: 230px;
  margin: 0 auto;
  position: relative;
}
.logoWrapper {
  margin: 60px auto 24px auto;
  display: flex;
  justify-content: center;
  direction: rtl;
  background-color: whitesmoke;
}
.logo {
  margin-top: 9px;
  margin-inline-end: 12px;
  position: relative;
  width: 85px;
  height: 85px;
}
.logo Image {
  margin-bottom: 4px;
  float: right;
}
.logoText {
  float: right;
  color: #d73948;
  display: block;
  font-size: 40px;
  font-family: "iranyekanwebregular", Arial;
  min-width: 165px;
  line-height: 69px;
  margin: 0;
  padding: 0;
}
.slogan {
  color: #808080;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}
/* search box */
.search {
  margin: 0 auto;
  max-width: 480px;
  height: 48px;
  position: relative;
  display: flex;
  border-radius: 4px;
  direction: rtl;
}
.searchFormHome {
  width: 480px;
  vertical-align: middle;
  position: relative;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.searchIconHome {
  color: #808080;
  position: absolute;
  padding: 13px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.searchIcon {
  z-index: 1;
}
.searchTextHome {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding-inline-end: 10px;
  padding-inline-start: 48px;
  border: gray;
  font-size: 16px;
  font-family: "iranyekanwebregular";
}

/* وقتی کلیک بشه تو باکس ، بردرش گری بشه */
.searchTextHome :active {
  border-color: gray;
}
/* تخفیف ها دکمه*/
.offersBtn {
  background: #d73948;
  width: 120px;
  height: 40px;
  margin: 24px auto;
  border-radius: 4px;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offersBtnTxt {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.linkOnClick {
  cursor: pointer;
  display: block;
  text-decoration: none;
}
